.content{
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
}
.list-info p{
    font-weight: 500;
    margin-top: 20px;
}
.title-info{
    font-family: 'Noto Serif', serif;
}